<h1 class="display-5 text-center"><i>Register a new category</i></h1>

<div id="divForm" class="container mt-4">
    <form action="/admin/categorys/new" method="POST">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label col-form-label-lg">Category Name</label>
            <div class="col-sm-8">
                <input type="text" name="name" id="name" aria-describedby="nameHelp"
                    class="form-control form-control-lg" placeholder="Category Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="slug" class="col-sm-2 col-form-label col-form-label-lg">Category Slug</label>
            <div class="col-sm-8">
                <input type="text" id="slug" name="slug" aria-describedby="slugHelp"
                    class="form-control form-control-lg" placeholder="Category Slug">
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-md">Create Category</button>
    </form>
</div>

<hr>

<div class="container mb-4">
    <div class="card">
        <img src="https://i.imgur.com/3NskWKd.jpg"
            class="card-img-top">
        <div class="card-body">
            <h4 class="card-title text-center">What is a category, in fact?</h4>
            <p class="card-text">Set of topics or people that can be organized, or by comprehensiveness or reference of
                a concept or generic conception, class or homogeneity.</p>
        </div>
    </div>
</div>
