<body class="d-flex flex-column">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright 2019 &copy; &nbsp; | &nbsp; Dom Breno &nbsp; | &nbsp; <i class="fas fa-feather-alt"></i> Write WyW </small>
        </div>
    </footer>
</body>