<body id="errorBody">
    <div class="container">
        <br>
        <h1 class="display-4 text-center">
            Sorry, this page is not available or does not exist
            <i class="far fa-frown"></i></h1>
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.
                    </p>
                    <a class="btn btn-success btn-lg" href="/" role="button">Go Home Page</a>
                </div>
            </div>

            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.
                    </p>
                    <a class="btn btn-danger btn-lg" href="#" role="button">Search Error On <i
                            class="fab fa-google"></i>oogle</a>
                </div>
            </div>
        </div>
    </div>
</body>