body {
    background: #f3f3f3;
    background: linear-gradient(to right, rgb(225, 230, 236), rgb(209, 214, 218));
}

#divForm {
    text-align: center;
}

#errorBody {
    background: #ff7070;
    background: linear-gradient(to right, rgb(211, 71, 71), rgb(243, 75, 75));
    margin: 0px;
}

div .container .jumbotron {
    margin-top: 12%;
}

html, body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}